# ─── VPS Sentinel Configuration ───
# Copy file ini menjadi .env dan sesuaikan nilainya.

# Network
APP_HOST=127.0.0.1
APP_PORT=5000

# Security
# Ganti dengan string acak yang panjang untuk production!
APP_SECRET_KEY=390365a0ac78f85bd1c47938763b0af61a2cfc0ed7d250deb0af275ead29b6be

# Mode (True untuk development, False untuk production)
DEBUG_MODE=False

# Countermeasures (Defenses)
ENABLE_SSH_TARPIT=True
SSH_TARPIT_PORT=2222
SSH_TARPIT_DELAY=2.0

ENABLE_WEB_HONEYPOT=True
